<div class="vdr" :style="positionStyle"
     :class="`${(active || isActive) ? 'active' : 'inactive'} ${contentClass ? contentClass: ''}`"
     @mousedown.stop="bodyDown($event)"
     @touchstart.stop="bodyDown($event)"
     @touchend.stop="up($event)">
    <div :style="sizeStyle" class="content-container" ref="container">
        <slot></slot>
    </div>
    <div
            v-for="stick in sticks"
            class="vdr-stick"
            :class="['vdr-stick-' + stick, isResizable ? '' : 'not-resizable']"
            @mousedown.stop="stickDown(stick, $event)"
            @touchstart.stop="stickDown(stick, $event)"
            :style="vdrStick(stick)">
    </div>
</div>
